:host {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.text-item.text-editor {
	/* word-wrap: break-word; */
	word-break: break-all;
    min-height: calc(100% - 10px);
    padding: 3px 5px;
	line-height: 1;
}
.text-item.text-editor.editing{
	cursor: text;
	z-index: 2;
}
.text-item.text-editor.editing p{
    display: inline-block;
    height: 100%;
    cursor: text;
}
.placeholder {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: 1px solid rgb(18, 95, 154);
    color: white;
}

img{
    width: 40px;
}

.bluePanel{
    background-color: rgb(50, 149, 227);
}

:host >>> .note-editor.note-frame {
    border: none;
}
    :host >>> .note-editor.note-frame .note-editing-area .note-editable {
        padding: 5px
    }
    :host >>> .note-editor.note-frame .note-statusbar {
        display: none;
    }
.mce-edit-focus {
    outline: none;
}
[contenteditable="true"] {
    outline: none !important;
    box-shadow: none !important;
}

:host >>> sub, :host >>> sup {
    line-height: inherit;
}

:host >>> a, :host >>> a:hover {
    color: inherit;
}
.editable >>> a {
    text-decoration: underline;
    text-decoration-color: #8c8c8c;
}

:host >>> a:hover, :host >>> a:visited {
    text-decoration: underline;
    text-decoration-color: #8c8c8c;
}




