:host {    
    display: block;
    position: relative;
    height: 100%;
    background: transparent;
}
:host *{
    box-sizing: border-box;
    user-select: none;
}

loading{
    position: absolute;
    opacity: 1;
    z-index: 1000;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
}

.dialog-title{
    text-align: center;
    font-size: 22px;
}

.dialog-body{
    position: relative;
    margin-top: 0px;
    font-size: 14px;
    height: calc(100% - 85px);
}

.listing-container{
    height: calc(100% - 50px);
    border: 1px solid lightgray;
    border-radius: 3px;
    overflow: auto;
}

.group-item {    
    margin: 10px;
    color: grey;
}
    .group-item-title {
        font-weight: bold;
    }
    .item-nav-list {        
        margin-left: 10px;        
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;        
    }
        .item-nav-list a {
            text-decoration: none;
            color: gray;
		}
		.item-nav-list a:not(.isTitle).active,
        .item-nav-list a:not(.isTitle):hover {
            color: #ffa500;
        }