:host {
    box-sizing: border-box;    
    height: 100%;    
    background: transparent;
}
    :host * {
        box-sizing: border-box;
    }

.data-container{
    margin-top: 20px;
}

    .confirm-text{
        font-size: 18px;
        color: #8c8c8c;
    }
    .confirm-options{
        margin-top: 15px;
        justify-content: center;
    }
        .confirm-options > div{
            margin: 0px 10px;
        }

    .submit{
        background: #FFA500;
        border: none;
        color: white;
        width: 150px;
        height: 30px;
        font-size: 14px;
        border-radius: 5px;
    }
    .submit:disabled{
        cursor: not-allowed;
        background: #8c8c8c;        
    }