<div class="dialog-header">
	<div class="btn-feedback columns">
		<img src="/assets/images/logo-0.png"/>
		<a (click)="openFeedbackDialog()">FEEDBACK</a>
		<a (click)="onClose($event)" class="btn-close">×</a>
	</div>
	<div class="dialog-title-container rows">
		<div class="dialog-title">
			<h3>Event Feedback</h3>
		</div>
		<a class="survey-edit" (click)="openSurveyDialog()">EDIT</a>
	</div>
</div>

<div class="dialog-body">
	<item
		[item]="eventFeedbackSurveyItem"
		[readOnly]="true"></item>
</div>
