:host {
    box-sizing: border-box;
	background: transparent;
	font-size: 18px;
}

:host >>> *:not(a) {
    color: #464646;
}

:host *{
    box-sizing: border-box;
}

.dialog-body {
	position: relative;
	overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 80px);
}

div {
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
}

.survey-edit {
	position: absolute;
	right: 0;
}
