:host {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;    
}
	.items-container{
		position: relative;
		height: 100%;
	}
		.items-menu-container{
			position: relative;
			height: 60px;
		}

		.items-content{
			position: relative;
			height: calc(100% - 60px);
			overflow-y: auto;
		}

	a.new-item {
		font-size: 120%;
		margin-right: 10px;
		color: #3295e3;
	}
