:host {
    display: block;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

	.video-item-container {
		position: relative;
		width: 100%;
		height: 100%;
	}

		.video-item-container >>> .video-js {
			width: 100%;
			height: 100%;
		}

	.result{
		position: relative;
		width: 100%;
		height: 100%;
	}
		.result.disable{
			display: none;
		}

		.selectable{
			position: absolute;
			display: none;
			opacity: 0;
			cursor: move;
			z-index: 100;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 20%;
		}

			.result:hover .selectable {
				display: block;
			}

.place-holder {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

video {  
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

