<div class="mce-container-body mce-stack-layout" style="width: 251px; height: 69px;">
	<div class="mce-container mce-toolbar mce-stack-layout-item mce-first" role="toolbar">
		<div class="mce-container-body mce-flow-layout">
			<div class="mce-container mce-flow-layout-item mce-first mce-last mce-btn-group" role="group">
				<div>
					<div class="mce-widget mce-btn mce-navfontlist mce-menubtn mce-fixed-width mce-listbox mce-first mce-btn-has-text" tabindex="-1" aria-labelledby="mceu_0" role="button" aria-label="Font Family" aria-haspopup="true">
						<button role="presentation" type="button" tabindex="-1">
							<span class="mce-txt">Lato</span>
							<i class="mce-caret"></i>
						</button>
						<div class="mce-container mce-panel mce-floatpanel mce-menu mce-animate mce-menu-align mce-in" hidefocus="1" tabindex="-1" role="application" aria-labelledby="mceu_14" aria-describedby="mceu_14-none" style="border-width: 1px; z-index: 65537; left: 581px; top: 419px; width: 160px;">
							<div class="mce-container-body mce-stack-layout" role="menu" style="width: 160px;">
								<div class="mce-menu-item mce-menu-item-normal mce-stack-layout-item mce-first" tabindex="-1" role="menuitem" aria-checked="false">
									<i class="mce-ico mce-i-none"></i>&nbsp;
									<span class="mce-text" style="font-family:Andale Mono">Andale Mono</span>
								</div>
								<div class="mce-menu-item mce-menu-item-normal mce-stack-layout-item" tabindex="-1" role="menuitem" aria-checked="false">
									<i class="mce-ico mce-i-none"></i>&nbsp;
									<span class="mce-text" style="font-family:Arial">Arial</span>
								</div>								
							</div>
						</div>
					</div>
					<div class="mce-fontsizecombo mce-combobox mce-last mce-has-open">
						<input class="mce-textbox" value="" hidefocus="1" placeholder="Font Size" aria-label="Font Size">
						<i class="mce-status mce-ico" style="display: none"></i>
						<div class="mce-btn mce-open" tabindex="-1" role="button">
							<button type="button" hidefocus="1" tabindex="-1">
								<i class="mce-caret"></i>
							</button>
						</div>
						<div class="mce-container mce-panel mce-floatpanel mce-menu mce-menu-align mce-in" hidefocus="1" tabindex="-1" role="application" aria-labelledby="mceu_70" aria-describedby="mceu_70-none" style="border-width: 1px; z-index: 65537; left: 743px; top: 418px; width: 160px;">
							<div class="mce-container-body mce-stack-layout" role="menu" style="width: 160px;">
								<div class="mce-menu-item mce-menu-item-normal mce-stack-layout-item mce-first" tabindex="-1" role="menuitem" aria-checked="false">
									<i class="mce-ico mce-i-none"></i>&nbsp;
									<span class="mce-text">8pt</span>
								</div>
								<div class="mce-menu-item mce-menu-item-normal mce-stack-layout-item" tabindex="-1" role="menuitem" aria-checked="false">
									<i class="mce-ico mce-i-none"></i>&nbsp;
									<span class="mce-text">10pt</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mce-container mce-toolbar mce-stack-layout-item mce-last" role="toolbar">
		<div class="mce-container-body mce-flow-layout">
			<div class="mce-container mce-flow-layout-item mce-first mce-last mce-btn-group" role="group">
				<div>
					<div class="mce-widget mce-btn mce-first" tabindex="-1" aria-pressed="false" role="button" aria-label="Bold">
						<button role="presentation" type="button" tabindex="-1" (click)="onClickButton('bold')">
							<i class="mce-ico mce-i-bold"></i>
						</button>
					</div>
					<div class="mce-widget mce-btn" tabindex="-1" aria-pressed="false" role="button" aria-label="Italic">
						<button role="presentation" type="button" tabindex="-1" (click)="onClickButton('italic')">
							<i class="mce-ico mce-i-italic"></i>
						</button>
					</div>
					<div class="mce-widget mce-btn" tabindex="-1" aria-pressed="false" role="button" aria-label="Underline">
						<button role="presentation" type="button" tabindex="-1" (click)="onClickButton('underline')">
							<i class="mce-ico mce-i-underline"></i>
						</button>
					</div>
					<div class="mce-widget mce-btn mce-splitbtn mce-colorbutton" role="button" tabindex="-1" aria-haspopup="true" aria-label="Text color">
						<button role="presentation" hidefocus="1" type="button" tabindex="-1">
							<i class="mce-ico mce-i-forecolor"></i>
							<span class="mce-preview" style="background-color: rgb(101, 101, 101);"></span>
						</button>
						<button type="button" class="mce-open" hidefocus="1" tabindex="-1">
							<i class="mce-caret"></i>
						</button>
					</div>
					<div class="mce-widget mce-btn mce-splitbtn mce-colorbutton mce-last" role="button" tabindex="-1" aria-haspopup="true" aria-label="Background color">
						<button role="presentation" hidefocus="1" type="button" tabindex="-1">
							<i class="mce-ico mce-i-backcolor"></i>
							<span class="mce-preview"></span>
						</button>
						<button type="button" class="mce-open" hidefocus="1" tabindex="-1"> 
							<i class="mce-caret"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
