<loading *ngIf="loading" [text]="'Uploading...'"></loading>
<div class="account-box">
    <div class="dialog-header">
        <div class="btn-feedback columns">
            <img src="/assets/images/logo-0.png" [class.disable]="loading"/>
            <a (click)="openFeedbackDialog()">FEEDBACK</a>
            <a class="btn-close" (click)="onClose()">x</a>
        </div>
        <div class="dialog-title-container">
            <span class="dialog-title"><h3>Forgot Your Password</h3></span>
        </div>
    </div>
    <div class="dialog-body margin-top-10">
        <ng-container *ngIf="!isVerified">
          <div class="form-group" style="min-height: 180px;">
            <label>User email</label>
            <input
              class="form-control"
              name="email"
              type="email"
              [formControl]="emailControl"
              required
              placeholder="e.g janstevens@gmail.com"
              [class.disable]="(pending | async)"
              (keyup)="checkValid()">
          </div>
        </ng-container>
        <ng-container *ngIf="isVerified">
          <div class="form-group" style="position: relative;">
            <label>New Password</label>
            <input #password
              class="form-control"
              name="password"
              type="password"
              [formControl]="passwordControl"
              required
              [class.disable]="(pending$ | async)"
              (focus)="checkFocus('password')"
              (keyup)="checkValid()">
            <a (click)="passwordShow()" class="btl bt-eye bt-2x">&nbsp;</a>
          </div>

          <div *ngIf="!passShow" class="form-group">
            <div>
              <label>Confirm</label>
              <label *ngIf="!isMatch && blur=='confirmPassword'" class="no-match">NO MATCH</label>
            </div>
            <input
              class="form-control"
              name="confirmPassword"
              type="password"
              [formControl]="confirmPasswordControl"
              [class.disable]="(pending$ | async)"
              (focus)="checkFocus('confirmPassword')"
              (keyup)="checkValid()">
          </div>
          <div *ngIf="(sensitive=='password' || (sensitive=='confirmPassword' && !passShow))"
            class="account-sensitive">
            <ul>
              <li>
                <span class="sensitive" [class.sensitive-true]="isSensitive"></span> Case sensitive
              </li>
              <li>
                <span class="sensitive" [class.sensitive-true]="isNumber"></span> Minimum 1 number
              </li>
              <li>
                <span class="sensitive" [class.sensitive-true]="isLetter"></span> Minimum 1 letter
              </li>
              <li>
                <span class="sensitive" [class.sensitive-true]="isCapital"></span> Minimum 1 capital letter
              </li>
              <li>
                <span class="sensitive" [class.sensitive-true]="isSpecial"></span> Minimum 1 special character
              </li>
              <li>
                <span class="sensitive" [class.sensitive-true]="isCharacters"></span> Minimum 6 characters
              </li>
            </ul>
          </div>
        </ng-container>

        <div class="form-group">
          <input
            type="button"
            [value]="isVerified ? 'SAVE' : 'VERIFY EMAIL'"
            class="btn btn-block btn-main"
            style="max-width: 150px;"
            [class.active]="isValid"
            [class.disable]="(!isValid || (passwordUpdatePending$ | async))"
            (click)="onSubmit()"
            />
        </div>
    </div>
</div>
