:host {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: transparent;
}
    :host * {
        box-sizing: border-box;
    }

.mce-edit-focus {
    outline:none!important;
}

.canvas-container {
    position: relative;
    width: 100%;
    flex: 0 0 auto;
    margin: 10px 0px 0px 0px;
    overflow: hidden;
}
    .canvas-container .canvas {
        position: relative;
        width: 100%;
        height: 100%;
        cursor: default;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
        .canvas-container .canvas * {
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
.disp-add-text{
    display: inline-block;
    font-size: 11px;
    margin-top: 10px;
}

.result-button{
    display: block;
    position: relative;
    padding: 5px;
    margin-top: 15px !important;
    margin-left: auto;
    margin-right: auto;
}
.result-button .text-editor{
    width: 100%;
    height: 100%;
    margin: auto;
	letter-spacing: 1px;
	word-break: break-all;
    cursor: text;
}

.colorPalette{
    width: 140px;
    height: 34px;
}

.color-box{
    width:25px;
    height: 25px;
    border: 1px solid;
}

.new-color{
    margin-top: 35px;
}
    .new-color .colors{
        position: relative;
        align-items: center;
        height: 30px;
    }
        .new-color .colors label{
            margin-top: 3px;
        }

    .new-color .color-picker{
        margin-left: 40px;
    }
    .new-color .color-picker > div{
        margin-bottom: 10px;
    }
    .new-color .text{
        width: 60px;
    }
    .new-color >>> .btn-close{
        position: absolute;
        color: red;
        top: -4px;
        right: -15px;
    }

.adjusts{
    margin-top: 35px;
}
    .sample-button-selector{
        width: 120px;
        height: 50px;
    }
        .sample-button{
            margin: auto;
            display: inherit;
        }

    .button-adjusts {
      padding: 0 0 0 20px;
    }
    .button-adjust {
        height: 35px;
    }
    .button-adjust > div{
        display: inline-block;
        width: 50px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .button-adjust slider{
        margin-top: 0px;
        width: 100px;
        min-width: 90px;
    }

[contentEditable=true]:empty:before {
	content:attr(placeholder)
}

[hidden] { display: none !important;}

.text {
    font-size: 12px;
    font-weight: bold;
}

.submit input{
    background:     #FFA500;
    border-color:   #FFA500;
    width: 150px;
    font-size: 120%;
    margin-top: 25px;
    margin-bottom: 15px;
}

.more{
    position: absolute;
    right: 40px;
    text-align: right;
}
