:host {
    position: relative!important;
    display: block!important;
    width: 100%!important;
    height: 100%!important;
    background-position: 50%!important;
    background-repeat: no-repeat!important;
    background-size: contain!important;
}

.resizable-container{
    position: absolute;
    border: 1px solid #8c8c8c;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
    min-height: 40px;
}
    .editing{
        border-style: dashed;
        border-width: 2px;
        border-color: skyblue
    }

    .resizable-container >>> .resize-box {
      z-index: 99;
    }

.result-text{
    margin-left: 20px;
    margin-top: 10px;
    min-height: 40px;
    width: calc(100% - 20px);
}
