<div class="row match-height">
	<div class="col-md-12">
		<div class="card">
			<div class="card-content collpase show">
				<div class="card-body">
					<form class="form" [formGroup]="form" (ngSubmit)="submit()">
						<div class="row justify-content-md-center">
							<div class="col-md-12">
								<div class="form-body">
									<h4 class="form-section">
									<i class="ft-user"></i> Change Password </h4>
									<div class="row">
										<div class="form-group col-md-12">
											<label for="old-password">Old Password</label>
											<input type="text" id="old-password" class="form-control" placeholder="Please enter your old password." name="old-password" formControlName="oldPassword">
										</div>
										<div class="form-group col-md-12 mb-2">
											<app-validation-message [control]="form.controls['oldPassword']"></app-validation-message>
										</div>									
									</div>										
									<div class="row">
										<div class="form-group col-md-12">
											<label for="phone">New Password</label>
											<input type="text" id="phone" class="form-control" placeholder="Please enter your password." name="password" formControlName="password">
										</div>
										<div class="form-group col-md-12 mb-2">
											<app-validation-message [control]="form.controls['password']"></app-validation-message>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-md-12">
											<label for="confirm-password">Confirm password</label>
											<input type="text" id="confirm-password" class="form-control" placeholder="Please confirm your password." name="confirm-password" formControlName="confirmPassword">
										</div>
										<div class="form-group col-md-12 mb-2">
											<app-validation-message [control]="form.controls['confirmPassword']"></app-validation-message>
										</div>
									</div>
								</div>
								
								<div *ngIf="errorMessage" class="row">
									<div class="form-group col-md-12">
										{{ errorMessage }}
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 text-center">
										<button type="submit" class="btn btn-primary" [disabled]="form.invalid">Change</button>
									</div>
									<div class="col-md-6 text-center">											
										<button type="button" class="btn btn-warning" [routerLink]="['/']">Cancel</button>
									</div>
								</div>							
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
  