<div class="dialog-header">    
    <div class="btn-feedback columns">
        <img src="/assets/images/logo-0.png"/>
        <a (click)="openFeedbackDialog()">FEEDBACK</a>
        <a (click)="onClose()" class="btn-close">×</a>
    </div>
    <div class="dialog-title-container columns">		
        <span class="dialog-title"><h3>IMAGE</h3></span>
    </div>	
</div>

<div class="result-container">
    <div class="result"    
        [style.backgroundImage]="getbackImage(imageInfo.image)"
        [style.width]="imageInfo.size+'px'"
        [style.height]="imageInfo.size+'px'">
    </div>
</div>
<div class="image-size-control">
    <div class="columns center-block slider-box">
        <slider [formControl]="sizeControl" [min]="_size[0]" [max]="_size[1]"></slider>
        <input type="text" readonly="true" value="{{imageInfo.size}}">       
    </div>
     <a (click)="openImportDialog()">IMPORT</a>
</div>
<div class="formGroup columns image-navigator" #imageNavigator>
    <div class="images" #imagesContainer>
        <div class="item">
            <div class="frame columns">
                <label class='c-input c-radio'>
                    <input type="radio" [formControl]="whichImage" value="undefined" [checked]="whichImage.value==undefined">
                    <span class="c-indicator"></span>
                </label>
                <div class="image">NONE</div>
            </div>
        </div>              
        <div *ngFor="let img of _images; let i=index" class="item">
            <div class="frame columns">
                <label class='c-input c-radio'>
                    <input type="radio" [formControl]="whichImage" [value]="img" [checked]="isChecked(img)">
                    <span class="c-indicator"></span>
                </label>
                <div class="image" [style.backgroundImage]="getbackImage(img)"></div>
            </div>
        </div>
    </div>
</div>
<div class="formGroup">
    <input
        type="button"
        value="ADD"
        style="width: 150px;"
        (click)="onAdd($event)"
        class="btn btn-block btn-main"/>
</div>
