:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: move;
}

item.selected {
    cursor: move;
    /*z-index: 100;*/
}
