:host {
  box-sizing: border-box;    
  height: 100%;    
  background: transparent;    
}
  a {
    text-decoration: none;
  }

  a.reset-link {
    color: #CCC;
    font-size: 12px;
  }

  a.submit-link {
    color: #ffa500;
    display: block;
    text-align: center;
    width: 100%;
  }