:host {
    box-sizing: border-box;    
    background: transparent;
    font-size: 16px;
    color: #555;
}

:host *{
    box-sizing: border-box;
    user-select: none;
}

.service-container{
    max-width: 400px;
    width: 100%;
    padding-left: 10px;
    margin: auto;
}
    .service-container .title{
        font-size: 20px;
        text-align: center;
    }
    .service-container .form-container{
        position: relative;
        width: 100%;
        max-width: 295px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .btn-close{
        position: absolute;
        right: 5px;
        top: -25px;
        color: red;
        font-size: 18px;
        cursor: pointer;
        text-decoration: none;
    }   

input[type="text"] {
    display: block;
    max-width: 100px;    
    width: 100%;
}

radio-group >>> li{
    line-height: 1.8;
}

datetime{
    max-width: 120px;
}

input[type="submit"] {
    width: 180px;
    height: 40px;    
}
