<div class="tools-container">
    <ul class="canvas-nav">
        <li role="presentation">
            <div class="btn-back" (click)="goBack()"></div>
        </li>
        <li role="presentation" [class.active]="current_screen==0">
            <a (click)="screen.next(0)">
                <span class="font-icon btb bt-laptop"></span>
                <div class="caption">Laptop</div>
            </a>
        </li>
        <li role="presentation" [class.active]="current_screen==1">
            <a (click)="screen.next(1)">
                <span class="font-icon btb bt-tablet"></span>
                <div class="caption">Tablet</div>
            </a>
        </li>
        <li role="presentation" [class.active]="current_screen==2">
            <a (click)="screen.next(2)">
                <span class="font-icon btb bt-mobile"></span>
                <div class="caption">Mobile</div>
            </a>
        </li>
    </ul>
</div>

<div #container
    class="invitation-canvas"
    >
    <div class="body-top columns">
        <div #canvasContainer
            class="canvas-container"
            [ngClass]="info.position">
            <app-canvas-view
                [page] = "page"
                [containerWidth]="canvasWidth"
                [maxWidth]="700"
                [pageLayout] = "pageLayout"
                [minHeaderHeight]="0"
                [minBodyHeight]="240"
                [minFooterHeight]="0"
                >
            </app-canvas-view>
        </div>
        <div class="setup-event">
            <div *ngIf="info.eventName == ''" class="setup-event-body">
                <div class="event-name">
                    <span>&lt;Event Name&gt;</span>
                </div>
                <div class="event-content">
                    <span class="event-title">Host</span>
                    <span>&lt;Host Name&gt;</span>
                    <span>&lt;Host Phone Number&gt;</span>
                </div>
                <div class="event-content">
                    <span class="event-title">When</span>
                    <span>&lt;Event Date&gt;</span>
                </div>
                <div class="event-content">
                    <span class="event-title">Where</span>
                    <span>&lt;Event Location&gt;</span>
                </div>
            </div>

            <div *ngIf="info.eventName != ''" class="setup-event-body">
                <div class="event-name">
                    <span [style.color]="info.textColor">{{info.eventName}}</span>
                </div>
                <div class="event-content">
                    <span class="event-title">Host</span>
                    <span [style.color]="info.textColor">{{info.host}}</span>
                    <span [style.color]="info.textColor">{{info.phone}}</span>
                </div>
                <div class="event-content">
                    <span class="event-title">When</span>
                    <span [style.color]="info.textColor">{{info.startDate |  date: "EEEE, MM/dd/yyyy"}}</span>
                    <span [style.color]="info.textColor">{{info.endDate | date: 'shortTime'}} - {{info.endDate | date: 'shortTime'}}</span>
                </div>
                <div class="event-content" *ngIf="info.rsvpByDate">
                    <span class="event-title">RSVP by</span>
                    <span [style.color]="info.textColor">{{info.rsvpByDate |  date: "EEEE, MM/dd/yyyy"}}</span>
                    <span [style.color]="info.textColor">{{info.rsvpByDate | date: 'shortTime'}}</span>
                </div>
                <div class="event-content">
                    <span class="event-title">Where</span>
                    <span [style.color]="info.textColor">
                        {{info.location}}
                    </span>
                    <span [style.color]="info.textColor">
                        {{info.address1}},&nbsp;
                        {{info.city}},&nbsp;
                        {{info.state}}&nbsp;
                        {{info.postalCode}}
                    </span>
                    <span><a (click)="openGoogleMapsDialog()">MAP</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="body-bottom columns">
        <div #eventOption
            class="event-option">
            <div class="reply columns">
                <span>Will you attend?</span>
                <radio-group #radioGroupEle [ngModel]="attendOption" (ngModelChange)="optionChanged($event)">
                    <ng-template radioGroupOption="yes">Yes</ng-template>
                    <ng-template radioGroupOption="no">No</ng-template>
                    <ng-template radioGroupOption="maybe">Maybe</ng-template>
                </radio-group>
                <div #replyContainer class="reply-container">
                    <reply [info]="info" (close)="onCloseReply()">
                    </reply>
                </div>
            </div>
            <div #hostMessage [hidden]="!info.showMessage" class="host-message">
                <div class="message-title">
                    <span>Host's Message</span>
                </div>
                <textarea #textArea class="message" [(ngModel)]="info.message">
                </textarea>
            </div>
        </div>
        <div #coming [hidden]="!info.showComing" class="coming">
            <div class="message-title">
                <span>Who's Coming?</span>
            </div>
            <div class="coming-as">
                <span>As of &nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="coming-body">
                <div *ngFor="let item of comings; let i=index" class="coming-line">
                    <div class="coming-title">{{item.reply}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

