:host {
    box-sizing: border-box;    
    background: transparent;    
}
    :host * {
        box-sizing: border-box;
    }
    :host > * {
        margin-bottom: 15px;
    }

.layout-changes {
    width: 100%;
}
    .content {
        width: 70%;
        height: 230px;
        margin-left: auto;
        margin-right: auto;        
    }    